@font-face {
  font-family: SpoqaR;
  src: url(../font/SpoqaHanSansNeo-Regular.ttf);
}
@font-face {
  font-family: SpoqaM;
  src: url(../font/SpoqaHanSansNeo-Medium.ttf);
}
@font-face {
  font-family: SpoqaB;
  src: url(../font/SpoqaHanSansNeo-Bold.ttf);
}
